# Dependencies
vendor/

# Environment files
.env
.env.*

# PHPUnit
.phpunit.result.cache
/phpunit.xml.bak
test-results/
test-results*

# PHPStan
/phpstan.neon.local

# Cache/logs
/var/
/cache/
/logs/

# Coverage
/coverage/

# IDE/editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
